@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

.header-container {
  background-color: red;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .header-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 40vw;
  }
}

.navbar {
  width: 100vw;
  background: transparent transparent;
  position: fixed;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.nav-link {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

@include media-breakpoint-down(md) {
  .navbar {
    width: 100vw;
    background-color: $primary;
    position: fixed;
  }
}