$backgroundImageUrl: url('../assets/images/sfondo.jpg');

.background-container {
  background-image: $backgroundImageUrl;
  box-shadow: inset black;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-title-container {
  margin-bottom: 20vh;
  margin-left: 10vw;
  z-index: 3;
}

.bg-overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  position: absolute;
}

.home-quote {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  width: 60vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news-section {
  background-image: $backgroundImageUrl;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;

  .news-dark-overlay {
    width: 100vw;
    height: 50vh;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
  }

  .news-text-container {
    text-align: center;
    z-index: 4;
    position: absolute;
    margin: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 80vw;

    .news-title {
      font-size: 36px;
    }

    .news-subtitle {
      font-size: 25px;
      margin-top: 30px;
    }
  }
}

.home-vector {
  color: black;
  border-top: 1px solid black;
  opacity: 1;
  margin: 20px auto;
  width: 60vw;
}

.newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  .newsletter-subtitle {
    font-size: 30px;
  }

  .newsletter-title {
    font-size: 48px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-top: 15px;

    .floating-field {
      width: 30vw;
    }
  }
}

.map-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .map-title {
    font-size: 48px;
  }
}



@include media-breakpoint-down(lg) {
  .home-title-container {
    margin-right: 10vw;
  }

  .home-quote {
    font-size: 25px;
  }
}

@include media-breakpoint-down(sm) {
  .home-quote {
    font-size: 16px
  }

  .news-section {
    .news-text-container {
      .news-title {
        font-size: 16px;
      }

      .news-subtitle {
        font-size: 14px;
      }
    }
  }

  .newsletter-section {
    margin: 20px 10vw;

    .newsletter-subtitle {
      font-size: 14px;
    }

    .newsletter-title {
      font-size: 20px;
    }

    .form-container {
      flex-direction: column;
      gap: 15px;
      width: 100%;

      .floating-field {
        width: 70vw;
      }
    }
  }

  .map-section {
    .map-title {
      font-size: 20px;
    }
  }
}