$backgroundImageUrl: url('../assets/images/sfondo.jpg');

.background-container {
  background-image: $backgroundImageUrl;
  box-shadow: inset black;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-title-container {
  margin-bottom: 20vh;
  margin-left: 10vw;
  z-index: 3;
}

.bg-overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  position: absolute;
}

.home-quote {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  width: 50vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@include media-breakpoint-down(lg) {
  .home-title-container {
    margin-right: 10vw;
  }
}