$backgroundImageUrl: url('../assets/images/sfondo.jpg');

.background-container {
  background-image: $backgroundImageUrl;
  box-shadow: inset black;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-title-container {
  margin-bottom: 20vh;
  margin-left: 10vw;
  z-index: 3;
}

.bg-overlay {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
  position: absolute;
}

.home-quote {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  width: 60vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.news-section {
  background-image: $backgroundImageUrl;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;

  .news-dark-overlay {
    width: 100vw;
    height: 50vh;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
  }

  .news-text-container {
    text-align: center;
    z-index: 4;
    position: absolute;
    margin: 0 10vw 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;

    .news-title {
      font-size: 36px;
    }

    .news-subtitle {
      font-size: 25px;
      margin-top: 30px;
    }
  }
}

.horizontal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 80px 7vw;
  gap: 5vw;
  height: fit-content;
  text-align: center;

  .text-container {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .title-horizontal-card {
      font-size: 48px;
      font-weight: bold;
    }

    .text-horizontal-card {
      font-size: 36px;
    }
  }

  .image-horizontal-card {
    width: 35vw;
    height: 55vh;
    object-fit: cover;
  }
}



@include media-breakpoint-down(lg) {
  .home-title-container {
    margin-right: 10vw;
  }

  .home-quote {
    font-size: 25px;
  }

  .horizontal-card {
    margin: 40px 7vw 30px 7vw;
    flex-direction: column;

    .text-container {
      height: 30vh;
      gap: 5vw;

      .title-horizontal-card {
        font-size: 40px;
      }

      .text-horizontal-card {
        font-size: 28px;
      }
    }

    .image-horizontal-card {
      width: 80vw;
      height: 40vh;
      object-fit: cover;
      margin-top: 2vh;
    }
  }
}

@include media-breakpoint-down(sm) {
  .home-quote {
    font-size: 16px
  }

  .news-section {
    .news-text-container {
      .news-title {
        font-size: 16px;
      }

      .news-subtitle {
        font-size: 14px;
      }
    }
  }

  .horizontal-card {
    .text-container {
      height: 20vh;
      gap: 2vh;

      .card-divider {
        margin: 1vh 0;
      }

      .title-horizontal-card {
        font-size: 20px;
      }

      .text-horizontal-card {
        font-size: 14px;
      }
    }

    .image-horizontal-card {
      width: 80vw;
      height: 20vh;
      object-fit: cover;
      margin-top: 2vh;
    }
  }
}