.menu-container {
  .pinsa-day-container {
    width: 100vw;
    height: calc(100vh - 200px);
    background-color: $primary;
  }


}

.down-triangle {
  .triangle {
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
  }

  .right-triangle {
    border-left: 50vw solid $primary;
  }

  .left-triangle {
    border-right: 50vw solid $primary;
  }
}