@import "./styles/common.scss";
@import 'variables';

@import './styles/footer.scss';
@import './styles/header.scss';

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  overflow-x: hidden;
}

ul,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

.navbar-toggler-icon {
  background-image: url('./assets/images/hamburger.svg') !important;
}

.navbar-toggler {
  border: none !important;
}