.header-container {
  background-color: red;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;



  .header-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 40vw;
  }
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.nav-link {
  color: white;
  font-size: 25px;
  font-weight: bold;
}